ul.admin-nav
    li(@click="handleClickMenu")
        router-link(:to="{ name: 'admin-main'}" class="link-admin") Основные настройки
    li(@click="handleClickMenu")
        router-link(:to="{ name: 'admin-posts-list'}" class="link-admin") Записи
    li(@click="handleClickMenu")
        router-link(:to="{ name: 'admin-post-new'}" class="link-admin") Новая запись