form.delete-form(@submit.prevent="onSubmit")
    .header-box
        .form-title Изменение поста
        .close-form(@click="hiddenDialogUpdate") &#10005
    .content-box
        p Выбранный пост был изменен. Сохранить изменения?
    .button-box
        button.dialog-button(@click="handleSaveUpdate(current_post)") Изменить
        button.dialog-button(@click="hiddenDialogUpdate" ) Отменить
        //img(src="@/assets/images/btn_zakaz_gaz.png" @click="hiddenDialog")

