form.delete-form(@submit.prevent="onSubmit")
    .header-box
        .form-title Удаление поста
        .close-form(@click="hiddenDialogDelete") &#10005
    .content-box
        p Выбранный пост будет удален.
    .button-box
        button.dialog-button(@click="clickPostDelete") Удалить
        button.dialog-button(@click="hiddenDialogDelete" ) Отменить


