form.settings-form(v-if="current_route === 'admin-main'" @submit.prevent="onSubmit")
    .input
        label(for="email") Адрес электронной почты
        input( required name="email" id="email" placeholder="email")
    p Текущий адрес эл.почты: <strong>{{ email }} </strong>
    .input
        label(for="telefon") Телефон в шапке сайта
        input(required name="telefon" id="telefon" placeholder="Телефон")
    p Текущий номер телефона: <strong>{{ telefon }} </strong>

    button(@click="handleSaveSet" type="submit") Сохранить