form.note-form(v-if="current_route === 'admin-post-new'" @submit.prevent="onSubmit") Новый пост
    input( required name="body-title" id="body-title" placeholder="Название поста")
    textarea(required name="body-post" id="body-post" placeholder="Содержимое поста")
    button(@click="handleSaveNew()" type="submit") Сохранить