.note-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  //padding: 15px;
  //margin-right: 30px;
  font-family: $font-RobotoSlab;
  @include font(22px, 600, 26px, #4468e0);
  //border-right: 1px solid #C8CDD2;
  //padding-right: 40px;
  input {
    //width: 500px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding: 3px 20px;
    margin: 10px 0;
    font-size: 18px;
    color: #EF5221;
    background-color: #c8cdd2;
    border: none;
    &:nth-child(1) {
      margin-top: 20px;
    }
    &::placeholder {
      font-family: sans-serif;
      text-transform: lowercase;
      @include font(16px, 500, 20px, #2D2D2D80);
    }
  }
  label {
    margin-right: 20px!important;
    color: #303133;
    padding-bottom: 15px;
    @include font(18px, 400, 18px, #0c0c0c);
  }
  textarea {
    //width: 500px;
    width: 100%;
    //height: 250px;
    height: 30vh;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    //font-size: 18px;
    color: #126b05;
    background-color: #c8cdd2;
    border: none;
    &::placeholder {
      font-family: sans-serif;
      text-transform: lowercase;
      @include font(16px, 500, 18px, #2D2D2D80);
    }
  }
}

.settings-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  .input {
    display: flex;
    align-items: center;
    margin-bottom: -10px;
    &:not(:first-child) {
      margin-top: 30px;
     }

  }
  p {
    font-size: 14px;
    color: #2D2D2D;
  }

  .telefon {
    //font-family: $font-OpenSans;
    @include font(20px, 400, 30px, #ffffff);
  }
  #telefon {
    margin-left: 35px;
  }

  label {
    margin-right: 5px!important;
    color: #303133;
    padding-bottom: 15px;
    @include font(16px, 400, 16px, #0c0c0c);
  }

  input {
    display: flex;
    align-items: center;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 5px 17px 25px;
    color: #EF5221;
    background-color: #c8cdd2;
    border: none;
    &::placeholder {
      text-transform: lowercase;
      @include font(16px, 500, 20px, #2D2D2D80);
    }
  }
}
