.link-go {
  color: #4468e0;
  &:hover {
    width: max-content;
    border-bottom: 1px solid #4468e0;
    padding-bottom: 3px;
  }
}

.link-go-admin {
  color: #126b05;
  font-weight: 600;
  &:hover {
    width: max-content;
    border-bottom: 2px solid red;
    padding-bottom: 3px;
  }
}

.link-admin {
  @include font(16px, 500, 16px, #ffffff); //#FFB400
  opacity: 0.8;
  display: flex;
  margin-right: 20px;
  &:hover {
    opacity: 1;
    width: max-content;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 3px;
  }
}