.pagination {
  display: flex;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
}
.page-link {
  position: relative;
  padding: 8px 13px;
  margin: 3px;
  background-color: blue;
  border-radius: 100%;
  color: #ffffff;
  font-weight: 600;
  border: 2px solid blue;
  &:hover {
    z-index: 2;
    color: blue;
    background-color: #ffffff;
  }
  &:focus {
    z-index: 3;
    background-color: red;
    border: 2px solid red;
  }
}

.page-item {
  &.active .page-link {
    z-index: 3;
    background-color: red;
    border: 2px solid red;
    color: #ffffff;
  }
}


.arrow {
  padding: 8px 10px;
  margin: 6px 3px;
  background-color: blue;
  border-radius: 100%;
  color: #ffffff;
  font-weight: 600;
  border: 2px solid blue;
  &:hover {
    color: blue;
    background-color: #ffffff;
  }
  &-prev {
    margin-top: -2px;
    transform: scale(-1, 1);
  }
  &-next {
    margin-top: -2px;
  }

}

